* {
  font-family: Roboto Mono;
  margin-bottom: 15px;
}
body,html {
  background: linear-gradient(rgba(31, 31, 31, 0.8), rgba(20, 20, 20, 0.8)),
    url("/assets/img/fondo5.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: white; /* Color del texto */
  font-family: "Roboto Mono", monospace; /* Fuente de Google Fonts */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos la altura de la ventana */
  
}

.task-container {
  margin: 50px auto;
  width: 50%;
  height: auto;
  text-align: center;
  border-radius: 15px;
  border: solid 2px #e06106;
  background: linear-gradient(
    135deg,
    #1d1e1e,
    #272828
  ); /* Degradado metálico oscuro */
  box-shadow: 0 4px 8px rgba(221, 9, 9, 0.2);
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.task-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(241, 104, 19, 0.3);
}

.task-container h1 {
  padding: 7px;
  font-size: 2em;
  color: #ea6518; /* Color cian metálico */
}

@media (max-width: 1024px) {
  .task-container {
    width: 70%;
  }
}

.full-width-button {
  padding: 3px;
  width: 100%;
  height: 30px;
  background-color: #f69f4f; /* Color cian metálico */
  color: white;
  border: 2px solid #202122; /* Color metálico oscuro */
  cursor: pointer;
}

.full-width-button img {
  text-align: center;
  width: 25px;
  height: 25px;
  padding: 2px;
}

.full-width-button:hover {
  background-color: #fb8907; /* Color cian más oscuro */
  border: 2px solid black;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #f89204;
  }
  25% {
    transform: scale(1.05);
    background-color: #080808c6;
  }

  100% {
    transform: scale(1);
    background-color: #ef8f00;
  }
}

/* Listado de tareas */
.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #37474f;
  line-height: 1.5;
}

.task-checkbox {
  margin-right: 10px;
  background-color: #000000; /* Cambia el color de fondo */
  border: 2px solid #165168; /* Cambia el color del borde */
  width: 20px; /* Ajusta el ancho del checkbox */
  height: 20px; /* Ajusta la altura del checkbox */
  cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
  appearance: none; /* Elimina el estilo predeterminado del checkbox */
  -webkit-appearance: none; /* Elimina el estilo predeterminado del checkbox en WebKit */
  border-radius: 3px; /* Bordes redondeados */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Añade una transición suave */
}

.task-checkbox:checked {
  background-color: #4b9599; /* Cambia el color de fondo cuando está seleccionado */
  border: 2px solid #239b9d; /* Cambia el color del borde cuando está seleccionado */
  position: relative;
  transform: scale(1.1); /* Añade una animación de escala */
}

.task-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.task-text {
  flex-grow: 1;
  text-align: left;
  margin: 0;
  line-height: 1.5;
}

.task-date {
  margin-bottom: 5px; /* Espacio debajo de la fecha */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  color: #888; /* Color gris para la fecha */
  font-style: italic; /* Estilo de fuente en cursiva */
  display: block; /* Asegura que la fecha ocupe toda la línea */
}

.task-details {
  display: flex;
  align-items: center;
  width: 100%;
}



.delete-button {
  position: relative; /* Necesario para posicionar el tooltip */
  background: none; /* Asegura que no haya fondo que oculte la imagen */
  border: none; /* Elimina el borde del botón */
  padding: 0; /* Elimina el padding del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.delete-button::after {
  content: attr(title); /* Usa el atributo title como contenido del tooltip */
  position: absolute;
  bottom: 125%; /* Posiciona el tooltip arriba del botón */
  left: 10%;
  transform: translateX(-50%);
  background-color: #f10f07;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s;
  font-size: 10px;
  pointer-events: none; /* Evita que el tooltip interfiera con el hover */
}

.delete-button:hover::after {
  opacity: 1;
  visibility: visible;
}
.delete-button img {
  width: 25px; /* Ajusta el tamaño de la imagen */
  height: 25px; /* Ajusta el tamaño de la imagen */
  display: inline-block; /* Asegura que la imagen se comporte como un elemento en línea */
  vertical-align: middle;
  padding-top: 2px;
  margin: auto;
  background-color: #e19105;
  border-radius: 50%;
}

#micButton.recording {
  animation: pulse 1s infinite;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro con transparencia */
}

.modal-content {
  background-color: #ffffff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; /* Ancho máximo para el modal */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra para darle profundidad */
  text-align: center; /* Centrar el texto */
}

#modal-confirm,
#modal-cancel,
#success-close {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Transición suave para el fondo */
}

#modal-confirm {
  background-color: #4caf50; /* Verde para confirmar */
  color: white;
}

#modal-confirm:hover {
  background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}

#modal-cancel {
  background-color: #f44336; /* Rojo para cancelar */
  color: white;
}

#modal-cancel:hover {
  background-color: #e53935; /* Rojo más oscuro al pasar el ratón */
}

#success-close {
  background-color: #2196f3; /* Azul para cerrar */
  color: white;
}

#success-close:hover {
  background-color: #1e88e5; /* Azul más oscuro al pasar el ratón */
}

